<h1 data-nls="ABOUT_TITLE">Information</h1>
<p data-nls="ABOUT_DESCRIPTION1">Ce site est hébergé par <a href="https://github.com/" target="_blank" rel="noopener noreferrer">GitHub.com</a>. Son code source est accesible sur le <a href="https://github.com/MesseBasseProduction/messe-basse-production.com" target="_blank" rel="noopener noreferrer">dépot suivant</a> et est distribué sous la license libre <a href="https://github.com/MesseBasseProduction/messe-basse-production.com/blob/master/LICENSE" target="_blank" rel="noopener noreferrer">GPL-3.0</a>.</p>
<p data-nls="ABOUT_DESCRIPTION2">L'Association <b>Messe Basse Production</b> est domicilée à <i>Sermaise – 91530</i>. Pour le mandat 2025 le Président est M. Arthur Beaulieu, le Trésorier est M. David Béché et le secrétaire est M. Raphaël Beekman.</p>
<p data-nls="ABOUT_DESCRIPTION3">Toutes les publications éffectuées sur ce site sont sous la responsabilité de M. Arthur Beaulieu, en sa qualité de directeur de la publication.</p>
<p data-nls="ABOUT_DESCRIPTION4">GitHub est la propriété de Microsoft (corporation, société anonyme avec appel public à l'épargne), dont le siège social est à <i>Redmond, Washington (États-Unis)</i>.</p>
<p data-nls="ABOUT_UI_LANGUAGE">Langue du site</p>
<select id="lang-select">
  <option value="fr">🇫🇷 Français</option>
  <option value="en">🇬🇧 Anglais</option>
</select>
<button id="close-modal" data-nls="ABOUT_CLOSE">Fermer</button>
