<p id="close-modal" class="close">&times</p>
<p id="image-title" class="slideshow-index"></p>
<div class="img-magnifier-container">
  <img src=""> <!-- No alt to avoid text being displayed while image is loading -->
  <div class="img-magnifier-glass"></div>
</div>
<img src="/assets/img/logo/previous.svg" class="pv" loading="lazy" alt="previous-image">
<img src="/assets/img/logo/download.svg" class="dl" loading="lazy" alt="download-image">
<img src="/assets/img/logo/zoom.svg" class="zm" loading="lazy" alt="zoom-image">
<img src="/assets/img/logo/next.svg" class="nx" loading="lazy" alt="next-image">
<div id="img-loading-spinner" class="inner-modal-loading-overlay"></div>
