@keyframes flashing-logo {
  0% {
    background: linear-gradient(60deg, #97EA9B 0%, #AD7FE6 80%);  
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
  }

  15% {
    background: linear-gradient(120deg, #97EA9B 0%, #AD7FE6 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
  }

  58% {
    background: linear-gradient(180deg, #97EA9B 0%, #AD7FE6 80%);  
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    background: linear-gradient(240deg, #97EA9B 0%, #AD7FE6 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(1);    
  }
}

@keyframes drop-nav-link {
  0% {
    margin-bottom: 20rem;
    transform: rotate(-12deg);
  }

  100% {
    margin-bottom: 0;
    transform: rotate(0);
  }
}

@keyframes beating {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.01);
  }

  20% {
    transform: scale(1);
  }

   80% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
