@media (max-width: 1258px) {
  nav.site-nav {
    .socials {
      display: none;
    }
  }

  main.events {
    section {
      padding: var(--s-bg) 10%;
    }
  }
}

@media (max-width: 1000px) {
  nav.site-nav {
    a {
      font-size: 1.4rem;
      padding: 0 var(--s-sl);
    }
  }

  main.home {
    section {
      display: block;
    }		
  }

  main.creation {
    padding-top: 4rem;

    .subpage-nav {
      bottom: inherit;
      flex-direction: inherit;
      height: var(--s-lg);
      margin: var(--s) 0;
      top: 10rem;
      width: 100%;

      img {
        height: 100%;
        padding: 0 var(--s);
        width: unset;
      }
    }

    section {
      padding: var(--s) var(--s-lg);
      margin-bottom: 0;
    }

    .music {
      .band {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        .band-image {
          display: none;
        }

        .band-releases {
          padding: var(--s-lg) var(--s);
          position: inherit;
          width: 100%;

          .band-header {
            h2 {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .band-albums {
            .album {
              height: calc(95% - var(--s-bg));
            }
          }
        }
      }
    }

    .video {
      .video-grid .embed-video h2 {
        font-size: 1.4rem;
      }
    }
  }

  main.events {
    section {
      padding: var(--s-bg) 5%;
    }
  }

  main.contact {
    section {
      padding: var(--s-bg) var(--s-bg) var(--s-bg) var(--s);
    }
  }

  .modal.credit {
    padding: var(--s);
    max-width: inherit;
    width: 95%;
  }

  .modal.expo {
    overflow-y: auto;

    .photo-editor {
      flex-direction: column;

      .photo-wrapper,
      .editor {
        width: 100%;
      }
    }
  }

  body.links {
    main {
      .link-wrapper {
        padding: var(--s-lg);
        max-height: 95%;
        width: 95%;

        img.main-logo {
          height: 6rem;
        }

        .link {
          img {
            margin: 0 var(--s);
          }
          
          P {
            font-size: 1.2rem;
            margin-right: var(--s);
          }
        }
      }			
    }
  }
}

@media (max-width: 720px) {
  main.events {
    section {
      .event {
        grid-template-columns: 1fr;

        h1 {
          margin-top: var(--s-lg);
        }

        h1, h2 {
          text-align: center;          
        }

        .content {
          margin-left: 0;

          .starring {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  main.creation .subpage.podcast {
    .item {
      grid-template-columns: 1fr;

      h1 {
        margin-top: var(--s-lg);
        text-align: center;
      }

      .content {
        margin-left: 0;

        .links {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 512px) {
  nav.site-nav {
    flex-wrap: wrap;

    a {
      opacity: 0;
      transition: opacity .5s;
    }
  }

  main.creation {
    .music {
      .band {
        .band-image {
          position: inherit;
          width: 90%;
        }

        
        .band-releases {
          .band-header {
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-height: 740px) {
  /* Typically for screen with zoom factor */
  main.home {
    section {
      display: block;

      img {
        margin-top: 0;
        max-width: 25rem;
      }
  
      h2 {
        margin-bottom: 2%;
        max-width: inherit;
      }
    }
  }
}

@media (max-height: 512px) {
  main.home img {
    margin: 2% 0;
    max-width: 25rem;
  }
}
