:root {
  --c-primary: #FFBF00;
  --c-primary-filter: invert(64%) sepia(67%) saturate(608%) hue-rotate(1deg) brightness(104%) contrast(109%);

  --c-bg: #181818;
  --c-fg: #D4D4D4;

  --s-sl: .5rem;
  --s: 1rem;
  --s-lg: 2rem;
  --s-bg: 3rem;
  --s-hg: 4rem;
}
