<p id="credit-modal" class="credit-modal"><b>Messe Basse Production – 2021/<span id="copyright"><script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span></b></p>
