<nav id="navigation" class="site-nav">
  <a href="/" id="link-creation" class="link-creation {{#if active.creation}}selected{{/if}}" data-nls="NAVBAR_CREATION">Création</a>
  <a href="/evenement" id="link-events" class="link-events {{#if active.events}}selected{{/if}}" data-nls="NAVBAR_EVENTS">Events</a>
  <a href="/contact" id="link-contact" class="link-contact {{#if active.about}}selected{{/if}}" data-nls="NAVBAR_ABOUT">À Propos</a>
  <div id="socials" class="socials">
    <a href="https://www.facebook.com/messebasseproduction/" class="link-facebook" target="_blank" rel="noopener noreferrer">
      <img src="/assets/img/logo/facebook.svg" alt="link-facebook">
    </a>
    <a href="https://www.instagram.com/messebasseproduction/" class="link-instagram" target="_blank" rel="noopener noreferrer">
      <img src="/assets/img/logo/instagram.svg" alt="link-instagram">
    </a>
    <a href="https://www.youtube.com/channel/UCrkeEx6T7cI2XEHspFxostA/" class="link-youtube" target="_blank" rel="noopener noreferrer">
      <img src="/assets/img/logo/youtube.svg" alt="link-youtube">
    </a>
    <a href="https://messebasseproduction.bandcamp.com/" class="link-bandcamp" target="_blank" rel="noopener noreferrer">
      <img src="/assets/img/logo/bandcamp.svg" alt="link-bandcamp">
    </a>
  </div>
</nav>
