@font-face {
  font-family: 'Catamaran';
  src: url('../../../assets/font/Catamaran-Pro.ttf') format('truetype'),
    url('../../../assets/font/Catamaran-Pro.woff') format('woff');
}

@font-face {
  font-family: 'Doulos';
  src: url('../../../assets/font/Doulos-SIL.ttf') format('truetype'),
    url('../../../assets/font/Doulos-SIL.woff') format('woff');
}

@font-face {
  font-family: 'Gravity';
  src: url('../../../assets/font/Gravity.ttf') format('truetype'),
    url('../../../assets/font/Gravity.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background: var(--c-bg);
  color: var(--c-fg);
  font-family: 'Gravity', sans-serif;
}

a {
  display: block;
  color: var(--c-primary);
}

p, a {
  font-size: var(--f);
  margin-bottom: var(--f);
}

button {
  background: var(--c-fg-a10);
  border: solid 1px var(--c-fg-a50);
  border-radius: var(--s-sl);
  color: var(--c-fg);
  cursor: pointer;
  padding: var(--s) var(--s-lg);

  transition: all .2s;

  &:active,
  &:focus,
  &:hover {
    background: var(--c-fg-a20);
  }

  &[disabled] {
    cursor: not-allowed;
    border: 1px solid #949494;
    background-color: rgba(200, 200, 200, .1);
    color: #949494;

    &:active,
    &:focus,
    &:hover {
      background: inherit;
    }
  }
}

nav.site-nav {
  align-items: center;
  border-bottom: solid .33rem var(--c-fg);
  border-radius: .1rem;
  display: flex;
  font-family: 'Catamaran', sans-serif;
  height: 10rem;
  justify-content: center;
  margin: 0 5%;
  opacity: 0;
  position: relative;
  width: calc(100% - 10%);
  transition: opacity .5s;

  a {
    color: var(--c-fg);
    font-size: 2.6rem;
    letter-spacing: .2rem;
    margin-bottom: 0;
    padding: 0 var(--s-lg);
    text-decoration: none;
    transition: color .3s;
    user-select: none;

    &:hover {
      color: var(--c-primary);
    }

    &.selected::first-letter {
      color: var(--c-primary);
    }
  }

  .socials {
    align-items: center;
    display: flex;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: opacity 1s;

    a {
      margin-bottom: 0;
      padding: var(--s-sl);
      transition: opacity 1s, transform .5s;

      &:active,
      &:focus,
      &:hover {
        transform: rotate(8deg);
      }			
    }

    img {
      height: var(--s-bg);
    }
  }
}

main {
  height: calc(100% - 10rem);
  opacity: 0;
  position: relative;
  width: 100%;
  transition: opacity .5s;
}

.not-found {
  align-items: center;
  background-image: radial-gradient(#332600 0, var(--c-bg) 80%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;

  h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 3.8rem;
    margin-bottom: var(--s-lg);
  }

  a {
    font-family: consolas, sans-serif;
    font-size: 1.8rem;
  }
}

.loading-overlay {
  background-image: radial-gradient(#332600 0, var(--c-bg) 80%);
  cursor: progress;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  transition: all .2s;

  &::before {
    content: '';
    background-color: var(--c-primary);
    border-radius: var(--s-sl);
    height: var(--s-bg);
    left: calc(50% - 1.5rem);
    position: absolute;
    top: 50%;
    width: var(--s-bg);

    animation: rotate-plane 1.2s infinite ease-in-out;
  }
}

.item {
  background-color: var(--c-fg-a10);
  border-radius: 1.5rem;
  box-shadow: 0px 0px var(--s) var(--c-fg-a30);
  padding: var(--s-lg);
  transition: all .2s;
}
