@keyframes beating {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.01);
  }

  20% {
    transform: scale(1);
  }

   80% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotate-plane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
