.overlay {
  align-items: center;
  background-color: var(--c-bg-a80);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
  transition: opacity .3s;

  .modal {
    background-color: var(--c-bg);
    border-radius: var(--s-sl);
    box-shadow: 0px 0px var(--s) var(--c-fg-a20);
    max-width: 80%;
    opacity: 0;
    padding: var(--s-bg);
    text-align: center;
    transition: opacity .3s;

    h1 {
      font-size: 3.4rem;
      margin-bottom: var(--s-lg);			
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    a {
      color: var(--c-primary);
      display: inline-block;
      margin-bottom: 0;
    }

    button {
      margin-top: var(--s-lg);		
    }	
  }
}

.modal.expo {
  background-color: var(--c-bg);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: inherit;
  text-align: inherit;
  width: 100%;

  .photo-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5rem;    

    p {
      border: solid 1px var(--c-fg);
      border-radius: var(--s-sl);
      cursor: pointer;
      font-size: 1.2rem;
      margin: var(--s-sl);
      padding: var(--s-sl) var(--s);

      transition: color .2s, border-color .2s;

      &.selected {
        border-color: var(--c-primary);
        color: var(--c-primary);
      }
    }
  }

  .photo-editor {
    display: flex;

    .photo-wrapper {
      border-radius: var(--s-sl);
      display: flex;
      justify-content: center;
      padding: 1.5rem;
      width: 60%;

      .frame {
        align-items: center;
        aspect-ratio: 3 / 2;
        background-color: var(--c-fg);
        display: flex;
        justify-content: center;
        max-width: 50vw;
        width: 100%;
        
        img {
          height: 100%;
        }
      }
    }

    .editor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      h2 {
        font-size: 2.8rem;
        margin-bottom: 3.5rem;
      }

      p {
        margin: 0;
        margin-bottom: 1.5rem;
      }

      .editor-command {
        align-items: center;
        display: flex;

        p {
          border: solid 1px var(--c-fg);
          border-radius: var(--s-sl);
          cursor: pointer;
          font-size: 1.2rem;
          margin: var(--s-sl);
          padding: var(--s-sl) var(--s);
    
          transition: color .2s, border-color .2s;
    
          &.selected {
            border-color: var(--c-primary);
            color: var(--c-primary);
          }
        }

        label {
          font-size: 1.6rem;
          font-weight: bold;
          margin-right: auto;
        }

        input {
          margin: var(--s-sl);
        }
      }

      .order {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin-top: 3.5rem;
    
        h1 {
          font-size: 2.8rem;
          margin-bottom: 0;
          margin-right: 1.5rem;
        }

        h3 {
          font-size: 1.6rem;
          font-style: italic;
          margin-right: auto;
        }
    
        button {
          margin: 0;
        }
      }
    }
  }

  .close {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0;
    position: absolute;
    right: var(--s-lg);
    top: var(--s-lg);
  }
}

.modal.photo {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: calc(100% - (2 * var(--s)));
  justify-content: center;
  max-width: 100%;
  padding: var(--s);
  position: relative;

  img {
    border-radius: .5rem;
    box-shadow: 0px 0px var(--s) var(--c-fg-a30);
    max-height: calc(98vh - 4.2rem); /* Font size, modal margins and text margin-top */
    max-width: calc(100vw - var(--s-lg));
  }

  p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: var(--s);
    margin-bottom: 0;

    a {
      color: inherit;
      display: inline-block;
      font-size: inherit;
      margin: inherit;
      text-decoration: none;

      transition: color .2s;

      &:active,
      &:focus,
      &:hover {
        color: var(--c-primary);
      }					
    }
  }

  .close {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0;
    position: absolute;
    right: var(--s-lg);
    top: var(--s-lg);
  }
}

.modal.credit {
  max-width: 60rem;
  width: 90%;	
}
