.overlay {
  align-items: center;
  background-color: var(--c-bg-a80);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
  transition: opacity .3s;

  .modal {
    background-color: var(--c-bg);
    border-radius: var(--s-sl);
    box-shadow: 0px 0px var(--s) var(--c-fg-a20);
    max-width: 80%;
    opacity: 0;
    padding: var(--s-bg);
    text-align: center;
    transition: opacity .3s;

    h1 {
      font-size: 3.4rem;
      margin-bottom: var(--s-lg);			
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    a {
      color: var(--c-primary);
      display: inline-block;
      margin-bottom: 0;
    }

    button {
      margin-top: var(--s-lg);		
    }	
  }
}

.modal.expo {
  background-color: var(--c-bg);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: inherit;
  text-align: inherit;
  width: 100%;

  .photo-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5rem;    

    p {
      border: solid 1px var(--c-fg);
      border-radius: var(--s-sl);
      cursor: pointer;
      font-size: 1.2rem;
      margin: var(--s-sl);
      padding: var(--s-sl) var(--s);

      transition: color .2s, border-color .2s;

      &.selected {
        border-color: var(--c-primary);
        color: var(--c-primary);
      }
    }
  }

  .photo-editor {
    display: flex;

    .photo-wrapper {
      border-radius: var(--s-sl);
      display: flex;
      justify-content: center;
      padding: 1.5rem;
      width: 60%;

      .frame {
        align-items: center;
        aspect-ratio: 3 / 2;
        background-color: var(--c-fg);
        display: flex;
        justify-content: center;
        max-width: 50vw;
        width: 100%;
        
        img {
          height: 100%;
        }
      }
    }

    .editor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      h2 {
        font-size: 2.8rem;
        margin-bottom: 3.5rem;
      }

      p {
        margin: 0;
        margin-bottom: 1.5rem;
      }

      .editor-command {
        align-items: center;
        display: flex;

        p {
          border: solid 1px var(--c-fg);
          border-radius: var(--s-sl);
          cursor: pointer;
          font-size: 1.2rem;
          margin: var(--s-sl);
          padding: var(--s-sl) var(--s);
    
          transition: color .2s, border-color .2s;
    
          &.selected {
            border-color: var(--c-primary);
            color: var(--c-primary);
          }
        }

        label {
          font-size: 1.6rem;
          font-weight: bold;
          margin-right: auto;
        }

        input {
          margin: var(--s-sl);
        }
      }

      .order {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin-top: 3.5rem;
    
        h1 {
          font-size: 2.8rem;
          margin-bottom: 0;
          margin-right: 1.5rem;
        }

        h3 {
          font-size: 1.6rem;
          font-style: italic;
          margin-right: auto;
        }
    
        button {
          margin: 0;
        }
      }
    }
  }

  .close {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0;
    position: absolute;
    right: var(--s-lg);
    top: var(--s-lg);
  }
}

.modal.photo {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: calc(100% - (2 * var(--s)));
  justify-content: center;
  max-width: 100%;
  padding: var(--s);
  position: relative;

  img {
    border-radius: .5rem;
    box-shadow: 0px 0px var(--s) var(--c-fg-a30);
    max-height: calc(98vh - 4.2rem); /* Font size, modal margins and text margin-top */
    max-width: calc(100vw - var(--s-lg));

    &.in-book {
      max-height: calc(100vh - (2 * var(--s-lg)));
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: var(--s);
    margin-bottom: 0;

    a {
      color: inherit;
      display: inline-block;
      font-size: inherit;
      margin: inherit;
      text-decoration: none;

      transition: color .2s;

      &:active,
      &:focus,
      &:hover {
        color: var(--c-primary);
      }					
    }
  }

  .close {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0;
    position: absolute;
    right: var(--s-lg);
    top: var(--s-lg);
    filter: drop-shadow(0 0 var(--s-sl) var(--c-bg));
  }
}

.modal.slideshow {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: calc(100% - (2 * var(--s)));
  justify-content: center;
  max-width: 100%;
  padding: var(--s);
  position: relative;

  p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: var(--s);
    margin-bottom: 0;
  }

  p.slideshow-index {
    background-color: var(--c-bg);
    border-radius: .5rem;
    box-shadow: 0 0 var(--s) var(--c-fg-a50);
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 0;
    padding: var(--s-sl) var(--s-lg);
    position: absolute;
    top: var(--s-bg);
    filter: invert(1);
    z-index: 1;
  }

  .img-magnifier-container {
    position: relative;
  }

  .img-magnifier-glass {
    cursor: none;
    background-repeat: no-repeat;
    border: 3px solid var(--c-bg);
    border-radius: var(--s-sl);
    display: none;
    height: 250px;
    position: absolute;
    width: 400px;
    z-index: 2; /* So it goes above top label */
  }

  img {
    border-radius: .5rem;
    max-height: calc(100vh - (2 * var(--s-lg)));
    max-width: calc(100vw - var(--s-lg));

    &.dl, &.pv, &.nx, &.zm {
      background-color: var(--c-bg);
      border-radius: .5rem;
      bottom: var(--s-bg);
      box-shadow: 0 0 var(--s) var(--c-fg-a50);
      cursor: pointer;
      height: var(--s-bg);
      padding: var(--s-sl);
      position: absolute;
      width: var(--s-bg);
      filter: invert(1);
      transition: all .2s;
      z-index: 3;
    }

    &.dl {
      right: calc(50% + var(--s-sl));
    }

    &.zm {
      left: calc(50% + var(--s-sl));

      &.activated {
        filter: var(--c-primary-filter);
      }
    }

    &.pv {
      left: var(--s-bg);
    }

    &.nx {
      right: var(--s-bg);
    }
  }

  .close {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0;
    position: absolute;
    right: var(--s-lg);
    top: var(--s-lg);
    filter: drop-shadow(0 0 var(--s-sl) var(--c-bg));
  }
}

.modal.credit {
  max-width: 60rem;
  width: 90%;	

  select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .2rem 1rem;
  }
}

.inner-modal-loading-overlay {
  background: var(--c-fg-a50);
  border-radius: var(--s-sl); /* Match modal radius */
  cursor: progress;
  display: block;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  transition: all .2s;

  &::before {
    content: '';
    background-color: var(--c-primary);
    border-radius: var(--s-sl);
    height: var(--s-bg);
    left: calc(50% - 1.5rem);
    position: absolute;
    top: 50%;
    width: var(--s-bg);

    animation: rotate-plane 1.2s infinite ease-in-out;
  }
}
