@media (max-width: 1000px) {
  nav.site-nav {
    height: 8rem;

    a {
      font-size: 2.2rem;
    }

    .socials {
      display: none;
    }
  }

  main {
    height: calc(100% - 8rem);

    section {
      padding: var(--s-bg) 5%;    
    }
  }

  /* Subpages */

  main.merch {
    section {
      .merch-collection {
        .item {
          width: 50rem;
        }
      }
    }
  }

  main.music {
    section {
      .musicians-grid {
        .band p {
          font-size: 1.8rem;
          opacity: 1;

          span {
            margin-top: var(--s-sl);
            padding: var(--s-sl);
          }
        }
      }
    }    
  }

  main.podcast {
    section {
      .collection {
        .item {
          grid-template-columns: 20rem 1fr;
        }
      }
    }
  }

  main.software {
    section {
      .website-grid {
        .website h2 {
          font-size: 2rem;
        }
      }
    }
  }

  /* Modals */

  .modal.credit {
    padding: var(--s);
    max-width: inherit;
    width: 95%;
  }

  .modal.expo {
    overflow-y: auto;

    .photo-editor {
      flex-direction: column;

      .photo-wrapper,
      .editor {
        width: 100%;
      }
    }
  }

  body.links {
    main {
      .link-wrapper {
        padding: var(--s-lg);
        max-height: 95%;
        width: 95%;

        img.main-logo {
          height: 6rem;
        }

        .link {
          img {
            margin: 0 var(--s);
          }
          
          P {
            font-size: 1.2rem;
            margin-right: var(--s);
          }
        }
      }			
    }
  }
}

@media (max-width: 720px) {
  nav.site-nav {
    flex-wrap: wrap;
    height: 6rem;

    a {
      font-size: 1.8rem;
      padding: 0 var(--s);
    }
  }

  main {
    height: calc(100% - 6rem);

    .credit-modal {
      font-size: 1.4rem;
    }
  }

  /* Main pages */

  main.creation {
    section.art-domains {
      column-gap: var(--s-lg);
      row-gap: var(--s-lg);

      div {
        width: max(15rem, 22vw);

        img {
          margin-bottom: var(--s);
        }
      }
    }
  }

  main.events {
    section {
      .event {
        grid-template-columns: 1fr;

        .content {
          margin-left: 0;

          h1 {
            margin-top: var(--s-lg);
          }
  
          h1, h2 {
            text-align: center;          
          }  

          .starring {
            display: flex;
            justify-content: center;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  main.contact {
    section {
      .member-container {
        display: flex;
        flex-wrap: wrap;

        h2 {
          margin-bottom: var(--s-sl);
        }
      }
    }
  }

  /* Subpages */

  main.merch {
    section {
      .merch-collection {
        .item {
          width: 100%;
        }
      }
    }
  }

  main.music {
    section {
      .musicians-grid {
        grid-template-columns: repeat(auto-fit, 100%);

        .band p {
          font-size: 1.5rem;
          opacity: 1;

          span {
            font-size: 1rem;
            padding: 0 var(--s-sl);
          }
        }
      }
    }
  }

  main.photo {
    section {
      .expo-grid,
      .photo-grid {
        grid-template-columns: repeat(auto-fit, 100%);
      }
    }
  }

  main.podcast {
    section {
      .collection {
        .item {
          grid-gap: var(--s-lg);
          grid-template-columns: 1fr;

          h1 {
            text-align: center;
          }

          .links {
            text-align: right;
          }
        }
      }
    }
  }

  main.software {
    section {
      .website-grid {
        grid-template-columns: repeat(auto-fit, 100%);
      }
    }
  }

  main.video {
    section {
      .video-grid {
        grid-template-columns: repeat(auto-fit, 100%);
      }
    }
  }
}
