main {
  overflow-y: auto;
  text-align: center;
  position: relative;

  .back-button {
    cursor: pointer;
    left: 5%;
    font-size: 4rem;
    position: absolute;
  }

  p.description {
    font-size: var(--f);
    margin-bottom: var(--s-bg);
  }

  section {
    padding: var(--s-bg) 15%;
    text-align: center;
    width: calc(100% - var(--default-scroll-size));

    h1 {
      font-family: 'Catamaran', sans-serif;
      font-size: 3.8rem;
      margin-bottom: var(--s-lg);
    }
  
    h2 {
      font-family: 'Catamaran', sans-serif;
      font-size: 2.4rem;
      margin-bottom: var(--s);
    }
  }

  .credit-modal {
    cursor: pointer;
    font-size: 1.6rem;
    margin-bottom: var(--s-bg);
    transition: all .2s;

    &:active,
    &:focus,
    &:hover {
      color: var(--c-primary)
    }
  }
}

main.creation {
  background-image: radial-gradient(#332600 0, var(--c-bg) 80%);

  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      margin-bottom: var(--s-bg);
      max-width: 40rem;
      width: 66%;
      animation: beating 1.3s infinite;
    }

    h1 {
      font-family: inherit;
      font-size: 3.8rem;
      font-style: italic;
      margin-bottom: var(--s-lg);
    }

    h2 {
      font-family: inherit;
      font-size: 2rem;
      margin-bottom: var(--s-bg);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.art-domains {
      column-gap: var(--s-bg);
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: var(--s-bg);
      width: calc(100% - var(--default-scroll-size));

      div {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max(20rem, 14vw);

        img {
          height: 5rem;
        }

        p {
          font-size: 1.6rem;
          margin-bottom: 0;
        }
      }
    }
  }
}

main.events {
  background-image: radial-gradient(#420000 0, var(--c-bg) 80%);

  .event {
    align-items: center;
    display: grid;
    grid-template-columns: 25rem 1fr;
    margin-bottom: var(--s-lg);
    width: 100%;
    
    &:last-of-type {
      margin: 0;
    }

    img {
      border-radius: .5rem;
      width: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: var(--s-lg);
      text-align: left;

      h1 {
        font-family: inherit;
        font-size: 2.2rem;
        margin-bottom: inherit;

        a {
          color: inherit;
          font-size: inherit;
          text-decoration: none;
        }
      }
  
      h2 {
        font-family: inherit;
        font-size: 1.8rem;
        text-indent: var(--s);
        margin-bottom: 0;
      }

      p {
        font-size: 1.3rem;
        padding: 1.3rem 0;
        text-indent: var(--s);
        text-align: justify;
      }

      a {
        display: inline-block;
        font-size: 1.3rem;
        margin-bottom: 0;
        text-decoration: none;
        text-indent: 0;
      }

      .starring {
        a {
          display: inline-block;
          /* Same as for creation/music/artist-header, to be factorized */
          border: solid 1px var(--c-fg);
          border-radius: var(--s-sl);
          color: var(--c-fg);
          font-size: 1rem;
          font-style: italic;
          margin-right: var(--s);
          padding: .4rem;
          text-decoration: none;
        }
      }
    }
  }
}

main.contact {
  background-image: radial-gradient(#233C26 0, var(--c-bg) 80%);

  section {
    p:last-child {
      margin-bottom: 0;
    }

    .member-container {
      align-content: center;
      display: grid;
      grid-gap: var(--s-lg);
      grid-template-columns: repeat(auto-fit, calc(min(15rem, 90vw)));
      justify-content: center;
      margin: var(--s-lg) 0;
      width: 100%;

      img {
        border-radius: .5rem;
        height: 10rem;
        margin-bottom: var(--s);
      }

      h2 {
        font-size: 1.4rem;
      }

      h3 {
        font-size: 1rem;
      }
    }

    .doc-wrapper {
      background-color: var(--c-fg-a10);
      border: solid 1px grey;
      border-radius: var(--s-sl);
      height: 8rem;
      margin: var(--s-lg) auto;
      margin-bottom: 0;
      width: min(50rem, 90%);

      .doc-download {
        align-items: center;
        color: var(--c-fg);
        display: flex;
        justify-content: center;
        margin: var(--s-sl) var(--s-hg);
        padding: 0 var(--s);
        text-decoration: none;
        transition: transform .3s;

        &:active,
        &:focus,
        &:hover {
          transform: scale(1.1);
        }

        img {
          height: var(--s-lg);
          margin-right: var(--s);
        }

        p {
          margin-bottom: 0;
          text-align: left;

          span {
            font-size: 1.2rem;
            font-style: italic;

            &::before {
              content: '–';
              padding: 0 var(--s);
            }
          }
        }
      }
    }
  }
}

/* Alt pages */

main.merch {
  background-image: radial-gradient(#00374a 0, var(--c-bg) 80%);

  section {
    .merch-collection {
      align-content: center;
      column-gap: var(--s-bg);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: var(--s-hg);
      row-gap: var(--s-bg);
      width: 100%;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 100%;
      overflow: hidden;
      position: relative;
      width: 40rem;

      img {
        max-width: 100%;
      }

      h2 {
        margin-bottom: 1.6rem;
      }

      p, i {
        display: block;
        font-size: 1.3rem;
      }

      p {
        margin-bottom: 0;

        &:last-of-type {
          margin-bottom: 1.6rem;
        }
      }

      i {
        margin-top: auto;
      }

      button {
        margin-top: 1.6rem;
      }

      &:active p.remaining,
      &:focus p.remaining,
      &:hover p.remaining {
        opacity: 1;
      }

      p.remaining {
        background: var(--c-primary);
        box-shadow: 0 0 0 999px var(--c-primary);
        clip-path: inset(0 -100%);
        color: var(--c-bg);
        inset: 0 0 auto auto;
        opacity: .5;
        padding: var(--s-sl) var(--s-lg);
        position: absolute;
        transform-origin: 0 0;
        transform: translate(29.3%) rotate(45deg);
        transition: all .2s;
      }

      p.sold-out {
        background: #d03333;
        box-shadow: 0 0 0 999px #d03333;
        clip-path: inset(0 -100%);
        font-weight: bold;
        inset: 0 0 auto auto;
        padding: var(--s-sl) var(--s-lg);
        position: absolute;
        transform-origin: 0 0;
        transform: translate(29.3%) rotate(45deg);
      }
    }
  }
}

main.music {
  background-image: radial-gradient(#00374a 0, var(--c-bg) 80%);

  a {
    display: inline-block;
  }

  section {
    .musicians-grid {
      display: grid;
      grid-gap: var(--s-lg);
      grid-template-columns: repeat(auto-fit, calc(50% - (var(--s-lg) / 2)));
      justify-content: center;

      .band {
        cursor: pointer;
        position: relative;

        &:active > p,
        &:focus > p,
        &:hover > p {
          opacity: 1;
        }

        img {
          border-radius: .5rem;
          width: 100%;
        }

        p {
          background: linear-gradient(to top, var(--c-bg) 75%, transparent);
          bottom: 0;
          font-size: 2rem;
          font-weight: bold;
          opacity: 0;
          margin-bottom: 0;
          padding: var(--s-lg) 0 var(--s);
          position: absolute;
          text-align: center;
          width: 100%;
          transition: all .2s;

          span {
            border: solid 1px var(--c-fg);
            border-radius: .5rem;
            display: inline-flex;
            font-size: 1.2rem;
            font-style: italic;
            padding: var(--s-sl) var(--s);
            margin: 0 var(--s-sl);
            margin-top: var(--s-lg);
            transition: all .2s;

            &:active,
            &:focus,
            &:hover {
              background-color: var(--c-fg-a30);
            }
          }
        }
      }
    }


  }
}

main.photo {
  background-image: radial-gradient(#00374a 0, var(--c-bg) 80%);

  a {
    display: inline-block;
  }

  section {
    h2 {
      font-family: 'Catamaran', sans-serif;
      font-size: 2.8rem;
      margin: var(--s-lg) 0;
    }

    a {
      color: inherit;
      display: inline-block;
      font-size: inherit;
      margin: inherit;
      text-decoration: none;

      transition: color .2s;

      &:active,
      &:focus,
      &:hover {
        color: var(--c-primary);
      }					
    }

    .expo-grid {
      align-content: center;
      align-items: center;
      display: grid;
      grid-gap: var(--s-lg);
      grid-template-columns: repeat(auto-fit, calc(50% - (var(--s-lg) / 2)));
      justify-content: center;
      margin-bottom: var(--s-hg);
      
      .artist {
        cursor: pointer;
        padding: var(--s-lg);

        &:active,
        &:focus,
        &:hover {
          color: var(--c-primary);
        }

        .img-wrapper {
          align-items: center;
          aspect-ratio: 3 / 2;
          background-color: #202020;
          display: flex;
          justify-content: center;
          position: relative;
          width: 100%;
        }

        img {
          border-radius: .5rem;
          height: 100%;
          position: absolute;
          transition: opacity .2s;
        }

        h3 {
          font-size: 2.2rem;
          margin: 0;
          margin-top: var(--s);

          transition: color .2s;
          
          em {
            font-size: 1.6rem;
          }
        }
      }
    }

    .photo-grid {
      align-content: center;
      display: grid;
      grid-gap: var(--s-lg);
      grid-template-columns: repeat(auto-fit, calc(50% - (var(--s-lg) / 2)));
      justify-content: center;

      .photo-element {
        padding: var(--s);

        img {
          border-radius: .5rem;
          cursor: pointer;
          width: 100%;
          transition: opacity 1s, transform .5s;

          &:active,
          &:focus,
          &:hover {
            transform: rotate(-.3deg);
          }
        }

        p {
          font-size: 1.2rem;
          margin-top: var(--s);
          margin-bottom: 0;
        }
      }
    }
  }
}

main.podcast {
  background-image: radial-gradient(#00374a 0, var(--c-bg) 80%);

  a {
    display: inline-block;
  }

  section {
    .collection {
      p {
        font-size: 1.3rem;
        margin-bottom: var(--s-lg);
      }

      .item {
        align-items: start;
        display: grid;
        grid-template-columns: 25rem 1fr;
        margin-bottom: var(--s-lg);
        padding: var(--s-lg);
        width: 100%;

        &:last-of-type {
          margin-bottom: 0;
        }

        img {
          border-radius: .5rem;
          width: 100%;
        }
    
        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: var(--s-lg);
          text-align: left;
    
          h1 {
            font-family: inherit;
            font-size: 2.2rem;
            margin-bottom: inherit;
    
            a {
              color: inherit;
              font-size: inherit;
              text-decoration: none;
            }
          }
      
          h2 {
            font-family: inherit;
            font-size: 1.8rem;
            text-indent: var(--s);
            margin-bottom: 0;
          }
    
          p {
            font-size: 1.3rem;
            margin: 0;
            padding: 1.3rem 0;
            text-indent: var(--s);
            text-align: justify;
          }
    
          a {
            display: inline-block;
            font-size: 1.3rem;
            margin-bottom: 0;
            text-decoration: none;
            text-indent: 0;
          }

          .links {
            a {
              display: inline-block;
              /* Same as for creation/music/artist-header, to be factorized */
              border: solid 1px var(--c-fg);
              border-radius: var(--s-sl);
              color: var(--c-fg);
              font-size: 1rem;
              font-style: italic;
              margin-right: var(--s);
              padding: .4rem;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

main.software {
  background-image: radial-gradient(#00374a 0, var(--c-bg) 80%);

  a {
    display: inline-block;
  }

  section {
    h2 {
      font-family: 'Catamaran', sans-serif;
      font-size: 2.8rem;
      margin: var(--s-lg) 0;
    }
    
    .website-grid {
      align-content: center;
      display: grid;
      grid-gap: var(--s-lg);
      grid-template-columns: repeat(auto-fit, calc(50% - (var(--s-lg) / 2)));
      justify-content: center;
      margin-bottom: var(--s-hg);

      &:last-of-type {
        margin-bottom: 0;
      }

      .website {
        cursor: pointer;
        padding: var(--s-lg);

        img {
          border-radius: .5rem;
          width: 100%;
          transition: transform .2s;

          &:active,
          &:focus,
          &:hover {
            transform: rotate(.3deg);
          }          
        }

        h2 {
          font-family: consolas, sans-serif;
          font-size: 2.6rem;
          margin-bottom: 1.3rem;

          transition: color .2s;

          &:active,
          &:focus,
          &:hover {
            color: var(--c-primary);
          }
          
          &:not(:has(+ p)) {
            margin-bottom: 0;
          }
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

main.video {
  background-image: radial-gradient(#00374a 0, var(--c-bg) 80%);

  a {
    display: inline-block;
  }

  section {
    .video-grid {
      display: grid;
      grid-gap: var(--s-bg);
      grid-template-columns: repeat(auto-fit, calc(50% - (var(--s-bg) / 2)));
      justify-content: center;

      .embed-video {
        iframe {
          aspect-ratio: 16 / 9;
          border-radius: .5rem;
          box-shadow: 0px 0px var(--s) var(--c-fg-a10);
          width: 100%;
        }

        h2 {
          font-family: 'Gravity', sans-serif;
          font-size: 1.8rem;
          margin-top: var(--s);
          margin-bottom: 0;
        }
      }
    }
  }
}

/* Artists pages */

main.artist {
  background-image: radial-gradient(#3C3923 0, var(--c-bg) 80%);

  p {
    font-size: 1.4rem;
  }

  p.bio,
  hr {
    margin: 0 auto;
    max-width: 910px; /* Match assets max width */
    text-align: justify;
  }

  .artist-image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--s-bg);
    max-width: 910px;
    position: relative;

    img {
      margin-bottom: 0;
    }

    p.image-credits {
      bottom: var(--s);
      font-style: italic;
      margin: auto 0;
      position: absolute;
      right: var(--s);
      text-shadow: var(--c-bg-a80) 1px 0 var(--s-lg);

      &::before {
        content: '©';
        padding-right: var(--s);
      }

      a {
        display: inline;
        font-size: inherit;
        text-decoration: none;
      }
    }
  
  }

  img {
    border-radius: .5rem;
    box-shadow: 0px 0px var(--s) var(--c-fg-a10);
    max-width: 910px;
    width: 100%;
  }

  p.short-bio,
  img,
  p.bio,
  hr,
  h2,
  .links-grid {
    margin-bottom: var(--s-bg);
  }

  .releases-wrapper {
    height: calc(28rem + var(--default-scroll-size));
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    width: 100%;

    .album {
      aspect-ratio: 1 / 1;
      cursor: pointer;
      display: inline-block;
      height: calc(100% - var(--s-lg) - var(--s));
      padding: var(--s) var(--s) var(--s-lg);
      position: relative;
      text-align: center;
      width: fit-content;

      img {
        box-shadow: 0px 0px 2px #d4d4d4;
        height: calc(100%);
        margin-bottom: 0;
      }

      &:active .album-overlay,
      &:focus .album-overlay,
      &:hover .album-overlay {
        opacity: 1;
      }

      .album-overlay {
        align-items: center;
        aspect-ratio: 1 / 1;
        background: linear-gradient(to top, rgba(0, 0, 0, .9) 33%, transparent);
        display: flex;
        flex-direction: column;
        height: calc(100% - var(--s-lg));
        justify-content: flex-end;
        left: var(--s);
        opacity: 0;
        position: absolute;
        top: 0;

        transition: opacity .2s;

        p {
          margin-bottom: 0;

          &:first-of-type {
            font-size: 1.4rem;
            margin-bottom: 1rem;
          }

          &:last-of-type {
            font-size: 1.3rem;
            font-style: italic;
            margin-bottom: 1rem;
          }
        }

        a {
          font-size: 1.1rem;
          font-style: italic;
          margin-bottom: 1rem;
        }
      }
    }    
  }

  .releases-wrapper + hr {
    margin-top: var(--s-lg);
  }

  .links-grid {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
    width: 100%;

    .link {
      align-items: center;
      background-color: rgba(0,0,0,.1);
      border: 1px solid #d4d4d4;
      border-radius: .5rem;
      color: inherit;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-family: inherit;
      margin: var(--s);
      padding: var(--s-lg) var(--s);
      text-align: center;
      text-decoration: none;
      width: 18rem;
      transition: all .2s;

      &:active,
      &:focus,
      &:hover {
        background-color: hsla(0,0%,100%,.1);
        transform: scale(1.01);
      }

      img {
        margin-bottom: var(--s);
        width: 6rem;        
      }

      h1 {
        font-family: inherit;
        font-size: 2rem;
        margin: 0;
      }
    }
  }

  a {
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0;
  }
}

main.release {
  background-image: radial-gradient(#3C3923 0, var(--c-bg) 80%);

  p {
    font-size: 1.4rem;
  }

  .album-wrapper {
    display: grid;
    grid-template-columns: 40rem 1fr;

    .album-credits {
      .album-artwork {
        width: 100%;
      }

      .album-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        p {
          border: solid 1px var(--c-fg);
          border-radius: .5rem;
          height: 3rem;
          margin: var(--s-sl);
          padding: 0 var(--s);

          a {
            align-items: center;
            color: var(--c-fg);
            display: flex;
            font-size: 1.3rem;
            height: 100%;
            justify-content: center;
            margin: 0;
            text-decoration: none;
          }

          img {
            height: 2rem;
            padding-right: var(--s);
          }
        }
      }
    }

    .album-info {
      text-align: left;

      h3 {
        font-size: 2rem;
      }

      h4 {
        font-size: 1.6rem;
        font-style: italic;
      }
    }

    .album-tracklist {
      .track {
        background-color: rgba(0, 0, 0, .35);
        display: grid;
        grid-template-columns: 3rem 2fr 1fr 6rem;
        text-align: left;

        &:nth-child(odd) {
          background-color: rgba(0, 0, 0, .25);
        }

        p {
          align-items: center;
          display: flex;
          height: 4rem;

          &:first-of-type,
          &:last-of-type {
            text-align: center;
          }
        }

        div {
          display: flex;
          flex-wrap: wrap;
          grid-column: 1 / span 4;
          padding-left: 6rem;

          p {
            height: inherit;
            width: 50%;

            &:first-of-type,
            &:last-of-type {
              text-align: inherit;
            }
          }
        }
      }
    }
  }
}

/* Link trees */

body.links {
  background-image: radial-gradient(#233C26 0, var(--c-bg) 80%);

  main {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 1;
    width: 100%;

    .link-wrapper {
      background-color: var(--c-fg-a10);
      border-radius: var(--s-sl);
      max-height: 80%;
      max-width: 100rem;
      padding: var(--s-bg) 6rem;
      text-align: center;

      img.main-logo {
        height: 12rem;
      }

      .link {
        align-items: center;
        border: solid grey 1px;
        border-radius: var(--s-sl);
        color: var(--c-fg);
        display: flex;
        margin: .75rem 0;
        padding: var(--s-sl) 0;
        text-decoration: none;

        transition: background-color .2s;

        img {			
          height: 2.5rem;
          margin-left: var(--s-hg);
          margin-right: var(--s-lg);
        }

        p {
          font-size: 1.3rem;
          margin-right: var(--s-hg);
        }

        &:active,
        &:focus,
        &:hover {
          background-color: rgba(255, 255, 255, .33);
        }
      }
    }
  }

  footer {
    bottom: 0;
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: var(--s-sl);
    position: absolute;
    text-align: center;
    width: 100%;

    a {
      color: inherit;
      font-size: inherit;
      margin: inherit;
      text-decoration: none;

      transition: color .2s;

      &:active,
      &:focus,
      &:hover {
        color: var(--c-primary);
      }
    }
  }
}
