@import 'scss/keyframes';

@font-face {
  font-family: 'Catamaran';
  src: url('../assets/font/Catamaran.ttf') format('truetype'),
    url('../assets/font/Catamaran.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background: #181818;
  color: #D4D4D4;
  font-family: sans-serif;
}

a {
  display: block;
  color: #56D45B;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

button {
  background: rgba(255, 255, 255, .1);
  border: solid 1px #D4D4D4;
  border-radius: .5rem;
  color: #D4D4D4;
  cursor: pointer;
  padding: 1rem 2rem;
}

nav.site-nav {
  align-items: center;
  border-bottom: solid .33rem #D4D4D4;
  border-radius: .1rem;
  display: flex;
  font-family: 'Catamaran', sans-serif;
  height: 10rem;
  justify-content: center;
  margin: 0 5%;
  opacity: 0;
  position: relative;
  width: calc(100% - 10%);
  transition: opacity .6s;

  a {
    color: #D4D4D4;
    font-size: 2.6rem;
    letter-spacing: .2rem;
    margin-bottom: 20rem;		
    padding: 0 2rem;
    text-decoration: none;
    transition: color .3s;

    &:hover {
      color: #56D45B;
    }

    &.selected::first-letter {
      color: #56D45B;			
    }
  }

  .socials {
    align-items: center;
    display: flex;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: opacity 1s;

    a {
      margin-bottom: 0;
      padding: .5rem;
      transition: opacity 1s, transform .5s;

      &:active,
      &:focus,
      &:hover {
        transform: rotate(8deg);
      }			
    }

    img {
      height: 3rem;
    }
  }
}

main {
  height: calc(100% - 10rem);
  position: relative;
  width: 100%;
  transition: opacity .3s;
}

@import 'scss/pages';

.flashing-text-logo {
  align-items: center;
  background: linear-gradient(60deg, #97EA9B 0%, #AD7FE6 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  p {
    animation: flashing-logo 6s;
    font-family: 'Catamaran', sans-serif;
    font-size: 5.5vw;
    letter-spacing: .5rem;
    max-width: 80%;
    opacity: 0;
  }
}

@import 'scss/modal';
@import 'scss/responsive';
