.overlay {
	align-items: center;
	background-color: rgba(0, 0, 0, .3);
	display: none;
	height: 100vh;
	justify-content: center;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100vw;
	transition: opacity .6s;

	.modal {
		background-color: #2D2D2D;
		border-radius: .5rem;
		max-width: 80%;
		opacity: 0;
		padding: 3rem;
		text-align: center;
		transition: opacity .6s;

		h1 {
			font-size: 3.4rem;
			margin-bottom: 2rem;			
		}

		p {
			font-size: 1.5rem;
			margin-bottom: 1.5rem;
		}

		a {
			color: #56D45B;
			display: inline-block;
			margin-bottom: 0;
		}

		button {
			margin-top: 2rem;		
		}	
	}
}

.modal.credit {
	width: 44%;	

	.doc-wrapper {
		height: 8rem;
		margin-top: 2rem;

		.doc-download {
			align-items: center;
			color: #D4D4D4;
			display: flex;
			justify-content: center;
			margin-bottom: .5rem;
			padding: 0 1rem;
			text-decoration: none;
			transition: transform .3s;

			&:active,
			&:focus,
			&:hover {
				transform: scale(1.1);
			}

			img {
				height: 2rem;
				margin-right: 1rem;
			}

			p {
				margin-bottom: 0;
				text-align: left;

				span {
					font-size: 1.2rem;
					font-style: italic;

					&::before {
						content: '–';
						padding: 0 1rem;
					}
				}
			}
		}
	}
}
