@media (max-width: 1258px) {
  nav.site-nav {
    .socials {
      display: none;
    }
  }

  main.events {
    section {
      padding: 3rem 10%;
    }
  }
}

@media (max-width: 1000px) {
  nav.site-nav {
    a {
      font-size: 1.4rem;
      padding: 0 .5rem;
    }
  }

  main.home {
    section {
      display: block;
    }		
  }

  main.creation {
    padding-top: 0;

    .subpage-nav {
      bottom: inherit;
      flex-direction: inherit;
      height: 2rem;
      margin: 1rem 0;
      top: 6rem;
      width: 100%;

      img {
        height: 100%;
        padding: 0 1rem;
        width: unset;
      }
    }

    section {
      padding: 3rem 2rem;
      margin-bottom: 0;
    }

    .music {
      .band {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        .band-image {
          display: none;
        }

        .band-releases {
          padding: 2rem 1rem;
          position: inherit;
          width: 100%;

          .band-header {
            h2 {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .band-albums {
            .album {
              height: calc(95% - 3rem);
            }
          }
        }
      }
    }

    .video {
      .video-grid .embed-video h2 {
        font-size: 1.4rem;
      }
    }
  }

  main.events {
    section {
      padding: 3rem 5%;
    }
  }

  main.contact {
    section {
      padding: 3rem 3rem 3rem 1rem;
    }
  }

  .modal.credit {
    padding: 1rem;
    max-width: inherit;
    width: 95%;
  }

  .modal.expo {
    overflow-y: auto;

    .photo-editor {
      flex-direction: column;

      .photo-wrapper,
      .editor {
        width: 100%;
      }
    }
  }

  body.links {
    main {
      .link-wrapper {
        padding: 2rem;
        max-height: 95%;
        width: 95%;

        img.main-logo {
          height: 6rem;
        }

        .link {
          img {
            margin: 0 1rem;
          }
          
          P {
            font-size: 1.2rem;
            margin-right: 1rem;
          }
        }
      }			
    }
  }
}

@media (max-width: 720px) {
  main.events {
    section {
      .event {
        grid-template-columns: 1fr;

        .content {
          p {
            margin: 2rem 0;
          }
        }
      }
    }
  }
}

@media (max-width: 512px) {
  nav.site-nav {
    flex-wrap: wrap;

    a {
      opacity: 0;
      transition: opacity .5s;
    }
  }

  main.creation {
    .music {
      .band {
        .band-image {
          position: inherit;
          width: 90%;
        }

        
        .band-releases {
          .band-header {
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-height: 740px) {
  /* Typically for screen with zoom factor */
  main.home {
    section {
      display: block;

      img {
        margin-top: 0;
        max-width: 25rem;
      }
  
      h2 {
        margin-bottom: 2%;
        max-width: inherit;
      }
    }
  }
}

@media (max-height: 512px) {
  main.home img {
    margin: 2% 0;
    max-width: 25rem;
  }
}
