<div class="not-found">
  <h1>404 – Not Found</h1>
  <a href="/">messe-basse-production.com</a>
</div>
<script type="text/javascript">
// Ask for page content to be displayed
document.getElementById('loading-overlay').style.opacity = 0;
setTimeout(() => {
  document.getElementById('loading-overlay').style.display = 'none';
}, 200);
</script>
