{{> nav}}
<main id="scene" class="contact">
  <section>
    <h1 data-nls="CONTACT_TITLE">À propos de nous</h1>
    <p data-nls="CONTACT_DESCRIPTION1">Messe Basse Production est une Association loi 1901, fondée par Arthur Beaulieu et David Béché en 2021. Amis de longue date et passionnés d'art sous toutes ses formes, nous avons emmagasinés des compétences tant techniques qu'artistique au fil des années. Animés par la volonté de mettre à contribution nos connaissances et notre savoir faire, nous avons fondé cette association avec la ferme intention d'en faire profiter des artistes ayant besoin de promouvoir leur art, de le rendre conforme aux normes de l'industrie pour ainsi leur permettre de se focaliser sur leurs créations.</p>
    <p data-nls="CONTACT_DESCRIPTION2">Les valeurs clés de Messe Basse Production, c'est <i>open source</i> et non lucratif. Nous avons à cœur de laisser aux artistes la paternité de leur projets, tout en les aidant à produire et promouvoir leurs œuvres afin de les laisser se concentrer au plus sur leur créativité.</p>
    <p data-nls="CONTACT_DESCRIPTION3">Vous souhaitez discuter avec nous de ces valeurs qui nous sont chères, ou vous souhaitez bénéficier d'une expertise et d'une structure pour la standardisation de votre musique, de vos podcasts, de vos films, de vos livres, de vos logiciels ou de vos collections textiles ? Ou peut-être voulez-vous nous rejoindre et apporter vos connaissances aux service des artistes qui nous font confiance ? Dans ce cas, contactez-nous :</p>
    <a href="mailto:contact@messe-basse-production.com">contact@messe-basse-production.com</a>
    <p data-nls="CONTACT_DOCUMENTATION">Dans un souci de transparence, vous retrouverez ci-après nos statuts associatifs, ainsi que les procès-verbaux d'assemblées générales afin de mieux saisir la portée de nos actions.</p>
    <div id="doc-wrapper" class="doc-wrapper">
      <div id="doc-container" class="doc-container"></div>      
    </div>
    <h2 data-nls="CONTACT_TEAM">Voilà l'équipe qui n'attend plus que vous!</h2>
    <div id="leaders" class="member-container"></div>
    <div id="members" class="member-container"></div>
    <h2 data-nls="CONTACT_TREE">Retrouvez Messe Basse Production en ligne</h2>
    <div id="links-container" class="links-container"></div>
  </section>
  {{> footer}}
</main>
<script type="text/javascript" src="/assets/dist/ContactPage.bundle.js"></script>
