{{> nav}}
<main id="scene" class="creation">
  <section>
    <img src="/assets/img/logo-small.png" alt="messe-basse-production-logo">
    <h1 data-nls="ORG_MANTRA">De la vision à la création</h1>
    <h2 data-nls="ORG_DESCRIPTION">Messe Basse Production est une association qui à pour vocation de mettre à disposition de ses artistes une structure non lucrative et indépendante pour les aider à réaliser et diffuser leurs œuvres. Musiciens, vidéastes, photographes, écrivains, développeurs ou créateurs de toute sorte, n'hésitez pas à nous contacter.</h2>
    <h2 data-nls="ORG_DISCOVER">Découvrez l'ensemble de nos créations ainsi que celles de nos artistes, dans les domaines artistiques que nous aspirons à développer.</h2>
  </section>
  <section class="art-domains">
    <div id="music" class="item">
      <img src="/assets/img/logo/music.svg" id="music-subpage" class="selected" alt="music-subpage">
      <p data-nls="ART_MUSIC">Musique</p>
    </div>
    <div id="video" class="item">
      <img src="/assets/img/logo/video.svg" id="video-subpage" alt="video-subpage">
      <p data-nls="ART_VIDEO">Vidéo</p>
    </div>
    <div id="podcast" class="item">
      <img src="/assets/img/logo/podcast.svg" id="podcast-subpage" alt="podcast-subpage">
      <p data-nls="ART_PODCAST">Podcast</p>
    </div>
    <div id="photo" class="item">
      <img src="/assets/img/logo/photo.svg" id="photo-subpage" alt="photo-subpage">
      <p data-nls="ART_PHOTO">Photographie</p>
    </div>
<!--
    <div id="book" class="item">
      <img src="/assets/img/logo/book.svg" id="book-subpage" alt="book-subpage">
      <p data-nls="ART_BOOK">Livre</p>
    </div>
-->
    <div id="merch" class="item">
      <img src="/assets/img/logo/merch.svg" id="software-subpage" alt="software-subpage">
      <p data-nls="ART_MERCH">Produits</p>
    </div>
    <div id="software" class="item">
      <img src="/assets/img/logo/software.svg" id="software-subpage" alt="software-subpage">
      <p data-nls="ART_SOFTWARE">Logiciel</p>
    </div>
    <div id="catalog" class="item">
      <img src="/assets/img/logo/catalog.svg" id="music-subpage" class="selected" alt="music-subpage">
      <p data-nls="ART_CATALOG">Catalogue</p>
    </div>
  </section>
  {{> footer}}
</main>
<script type="text/javascript" src="/assets/dist/CreationPage.bundle.js"></script>
