{{> nav}}
<main id="scene" class="book">
  <div id="back-button" class="back-button">←</div>
  <section>
    <h1 data-nls="BOOK_TITLE">Livres</h1>
    <p class="description" data-nls="BOOK_DESCRIPTION">L'Association Messe Basse Production vous accompagne à chaque étape de l'édition littéraire : de l'écriture à la diffusion, en passant par la relecture, la mise en page et le maquetage. Elle vous assiste également dans les démarches administratives, comme l'attribution de l'ISBN et le dépôt légal, pour une publication conforme et professionnelle. Avec un suivi personnalisé et des outils adaptés, elle simplifie la réalisation de vos projets, vous permettant de vous concentrer sur votre création ; le texte. Que vous soyez auteur débutant ou confirmé, l'association vous offre un cadre structurant pour donner vie à vos écrits et les faire rayonner.</p>
    <div id="collection-list" class="collection-list"></div>
  </section>
  {{> footer}}
</main>
<script type="text/javascript" src="/assets/dist/BookPage.bundle.js"></script>
<script>
window.BookPage = new BookPage();
</script>