{{> nav}}
<main id="scene" class="catalog">
  <div id="back-button" class="back-button">←</div>
  <section>
    <h1 data-nls="CATALOG_TITLE">Catalogue</h1>
    <p class="description" data-nls="CATALOG_DESCRIPTION">Découvrez ici l'ensemble de notre catalogue musical, tous artistes et tous supports confondus (album, single, EP, mix et podcast). Cela représente un total de {x} publications effectuées depuis notre création.</p>
    <div id="released-material" class="released-material"></div>
  </section>
  {{> footer}}
</main>
<script type="text/javascript" src="/assets/dist/CatalogPage.bundle.js"></script>
