{{> nav}}
<main id="scene" class="merch">
  <div id="back-button" class="back-button">←</div>
  <section>
    <h1 data-nls="MERCH_MUSIC">Disques</h1>
    <div id="musical-merch" class="merch-collection"></div>
    <h1 data-nls="MERCH_BOOK">Livres</h1>
    <div id="books-merch" class="merch-collection"></div>
    <h1 data-nls="MERCH_APPAREL">Collections</h1>
    <div id="apparel-merch" class="merch-collection"></div>  
  </section>
  {{> footer}}
</main>
<script type="text/javascript" src="/assets/dist/MerchPage.bundle.js"></script>
