{{> nav}}
<main id="scene" class="music">
  <div id="back-button" class="back-button">←</div>
  <section>
    <h1 data-nls="MUSIC_TITLE">Musique</h1>
    <p class="description" data-nls="MUSIC_DESCRIPTION">Nous avons pour ambition de proposer un catalogue de musiques écléctiques, de tout genre ; chaque style est donc le bienvenu! Nous sommes en mesure de vous aider à tous les niveaux, de la composition au pressage, en passant par les arangements, le mix, le mastering, les déclarations légales et le graphisme. Vous avez un projet en cours mais que vous ne parvenez pas à le faire avancer? Contactez-nous afin que nous vous proposions des pistes pour le mener à son terme.</p>
    <div id="musicians-grid" class="musicians-grid"></div>
  </section>
  {{> footer}}
</main>
<script type="text/javascript" src="/assets/dist/MusicPage.bundle.js"></script>
