{{> nav}}
<main id="scene" class="podcast">
  <div id="back-button" class="back-button">←</div>
  <section>
    <h1 data-nls="PODCAST_TITLE">Podcast</h1>
    <p class="description" data-nls="PODCAST_DESCRIPTION">L'Association Messe Basse Production produit une variété de podcasts, qu'ils soient musicaux ou vocaux, offrant une diversité de contenus captivants. Elle propose également son expertise et ses ressources techniques pour vous accompagner dans la production de vos propres podcasts, mettant à disposition des moyens techniques et assurant la post-production pour un rendu professionnel. En outre, l'association offre un soutien aux créateurs en les aidant à mettre leurs podcasts aux normes, incluant la diffusion et l'immatriculation, pour leur permettre d'atteindre leur public cible de manière efficace et conforme aux réglementations en vigueur.</p>
    <div id="podcast-list"></div>
  </section>
  {{> footer}}
</main>
<script type="text/javascript" src="/assets/dist/PodcastPage.bundle.js"></script>
