{{> nav}}
<main id="scene" class="release" data-catalog="{{info.catalog}}">
  <div id="back-button" class="back-button">←</div>
  <section>
    <h1 id="album-title"></h1>
    <h2 id="album-artist"></h2>
    <div class="album-wrapper"></div>
  </section>
  <p id="credit-modal" class="credit-modal"><b>Messe Basse Production – 2021/<span id="copyright"><script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span></b></p>
</main>
<script type="text/javascript" src="/assets/dist/ReleasePage.bundle.js"></script>
<script>
window.ReleasePage = new ReleasePage();
</script>
